#_pwdeveloper{
	position: fixed;
	height: 100%;
	width: 200px;
	background: white;
	z-index: 9999;
	display: none;
	top:0;
	left:0;
}
#_pwslide{
	position: fixed;
	cursor: pointer;
	width: 4px;
	background: black;
	float: left;
	z-index: 9999;
	left: 0;
	height: 100%;
	top: 0;
}
#_pwdeveloper .menu ul{
    padding-left: 0;
    list-style:none;
}
#_pwdeveloper .menu li{
	padding: 10px;
	border-bottom: 1px solid black;
	background: #ddd;
}
#_pwdeveloper .menu li a{
    color:#000 !important;
    text-shadow:none !important;
    font-size: 12px;
}
#_pwdeveloper .menu li:hover{
	background: #ccc;
	color: black;
	font-weight: bold;
}
#_pwfloatblock{
	position: fixed;
	z-index: 9999;
	width: 1000px;
	height: 600px;
	background: white;
	margin: 0 auto;
	display: none;
	border-radius: 5px;
	border: 3px #000 solid;
	top: 45%;
	left: 50%;
	margin-top: -300px;
	margin-left: -500px;
	padding: 10px;
}
#_pwfloatblock .content{
	overflow-y: scroll;
	width: 980px;
	height: 580px;
	overflow-x: hidden;
}
#_pwfloatblock .exit{
	position: absolute;
	top: 0;
	right: 27px;
	cursor: pointer;
}